<div class="modal-header">
  <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
  <h3>{{blockData.Title}}</h3>
</div>
<div class="modal-body" ng-switch on="step">
  <tabset>
    <tab heading="Details">
      <a href="#" editable-textarea="blockData.Description" onaftersave="save()" e-rows="7" e-cols="40">
        <pre>{{blockData.Description || 'Block description'}}</pre>
      </a>
    </tab>
    <tab heading="Content settings">
      <accordion close-others="true">
        <accordion-group heading="{{contentType.Name}}" ng-repeat="contentType in options">
          <label class="radio-inline control-label" ng-repeat="display in contentType.Displays"><input type="radio" ng-model="contentType.BlockDisplay" value="{{display.Id}}"/>{{display.Name}}</label>
        </accordion-group>
      </accordion>
    </tab>
    <tab heading="Display settings">
      <div>Number of elements <a href="#" onaftersave="save()" editable-number="blockData.Settings.NumberOfElements" e-min="1">{{blockData.Settings.NumberOfElements || 'empty'}}</a></div>
      <div>Number of rows <a href="#" onaftersave="save()" editable-number="blockData.Settings.NumberOfRows" e-min="1">{{blockData.Settings.NumberOfRows || 'empty'}}</a></div>
      <div>Item per rows <a href="#" onaftersave="save()" editable-number="blockData.Settings.ItemsPerRow" e-min="1">{{blockData.Settings.ItemsPerRow || 'empty'}}</a></div>
    </tab>
  </tabset>
</div>

<div class="modal-footer">
  <button ng-click="done()" class="btn btn-primary">Done</button>
</div>
