<div id="horizontal-nav" class="row">
  <div class="col-md-2 horizontal-nav-element">
    <a ng-href="#/project/create" class="thumbnail">
      <h4 class="text-center">New Project</h4>
    </a>
  </div>

  <div class="col-md-2 horizontal-nav-element" ng-repeat="project in projectList" ng-click="focus($index)">
    <a ng-href="#/project/{{project.Id}}" class="thumbnail ">
      <span class="text-right glyphicon glyphicon-info-sign"></span>
      <h4 class="list-group-item-heading text-center">{{project.Name}}</h4>
      <p class="list-group-item-text text-center">{{project.Description}}</p>
    </a>
  </div>
</div>

