<div ng-controller="HorizontalPageNav">
  <div id="horizontal-nav" class="row">
    <div class="col-md-2 horizontal-nav-element">
      <a ng-href="#/project/{{projectData.Id}}/page/create" class="thumbnail">
        <h4 class="text-center">New Page</h4>
      </a>
    </div>

    <div class="col-md-2 horizontal-nav-element" ng-repeat="page in horizontalPageNavList">
      <a ng-href="#/page/{{page.Id}}" class="thumbnail ">
        <span class="text-right glyphicon glyphicon-info-sign"></span>
        <h4 class="list-group-item-heading text-center">{{page.Title}}</h4>
        <p class="list-group-item-text text-center">{{page.Description}}</p>
      </a>
    </div>
  </div>
</div>
