<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Menu</h3>
  </div>
  <div class="panel-body">
    <h4>Project settings</h4>
    <ul>
      <li><a ng-href="#/project/{{projectData.Id}}/info">Project Info</a></li>
    </ul>

    <h4>Content types</h4>
    <a ng-href="#/project/{{projectData.Id}}/content/create">New Content Type</a>
    <ul>
      <li ng-repeat="contentType in contentTypeList"><a ng-href="#project/1234/content-type/123">{{contentType}}</a></li>
    </ul>

    <h4>View modes</h4>
    <a ng-href="#/project/{{projectData.Id}}/view-mode/create">New View Mode</a>
    <ul>
      <li ng-repeat="viewMode in viewModeList"><a ng-href="#project/{{projectData.Id}}/view-mode/{{viewMode.Id}}">{{viewMode.Label}}</a></li>
    </ul>
  </div>
</div>
