<!-- User menu -->
<div class="row">
  <div class="col-xs-12">
    <ul class="nav navbar-nav navbar-left">
      <li class="active"><a class="glyphicon glyphicon-home" ng-href="#">Home</a></li>
      <li><a ng-href="#">My Projects</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a ng-href="#">Logged in as: hairqles</a></li>
      <li><a ng-href="#">Logout</a></li>
    </ul>
  </div>
</div>

<div id="project">
  <!-- Header-->
  <div class="row">
    <div class="col-xs-12 page-header">
      <h1>My Projects</h1>
    </div>
  </div>

  <!-- Project list -->
  <div id="project-list" class="row">
    <div class="col-md-2 project-list-item">
      <a ng-href="#/project/create" class="thumbnail">
        <h4 class="text-center">New Project</h4>
      </a>
    </div>

    <div class="col-md-2 project-list-item" ng-repeat="project in projectList">
      <a ng-href="#/project/{{project.Id}}" class="thumbnail ">
        <span class="text-right glyphicon glyphicon-info-sign"></span>
        <h4 class="list-group-item-heading text-center">{{project.Name}}</h4>
        <p class="list-group-item-text text-center">{{project.Description}}</p>
      </a>
    </div>
  </div>
</div>
