<!-- User menu -->
<div class="row">
  <div class="col-xs-12">
    <ul class="nav navbar-nav navbar-left">
      <li class="active"><a ng-href="#">My Projects</a></li>
      <li><a ng-href="#/project/{{projectData.Id}}/content/create">Create Content Type</a></li>
      <li><a ng-href="#/project/{{projectData.Id}}/page/create">Create Page</a></li>
      <li><a ng-click="showProjectPages = !showProjectPages">Project Pages</a></li>
    </ul>

    <span class="dropdown" on-toggle="toggled(open)">
      <a class="dropdown-toggle">
        Content types <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="content in contentTypeList">
          <a ng-href="#/content/{{content.Id}}">{{content.Name}}</a>
        </li>
      </ul>
    </span>

    <ul class="nav navbar-nav navbar-right">
      <li><a ng-href="#">Logged in as: hairqles</a></li>
      <li><a ng-href="#">Logout</a></li>
    </ul>
  </div>
</div>

<!-- Horizontal Navigation -->
<div ng-include src='"views/regions/horizontal-page-nav.html"'></div>

<!-- Page header-->
<div class="row">
  <div class="col-xs-12 page-header">
    <h1>Project settings</h1>
  </div>
</div>

<!-- Create Project form -->
<div class="row">
  <div class="col-xs-12">
    <tabset justified="true">
      <tab heading="Project details">
        <div>
          <label>Project name</label>
          <a href="#" editable-text="projectData.Name">{{ projectData.Name || 'empty' }}</a>
        </div>
        <div>
          <label>Description</label>
          <a href="#" editable-textarea="projectData.Description" e-rows="7" e-cols="40">
            <pre>{{ projectData.Description || 'no description' }}</pre>
          </a>
        </div>
      </tab>
      <tab heading="Wiki">
        <label>Wiki</label>
        <a href="#" editable-textarea="projectData.Wiki" e-rows="7" e-cols="40">
          <pre>{{ projectData.Wiki || 'no wiki' }}</pre>
        </a>
      </tab>
      <tab heading="Qucklinks">
        <label>Quicklinks</label>
        <a href="#" editable-textarea="projectData.Qucklinks" e-rows="7" e-cols="40">
          <pre>{{ projectData.Qucklinks || 'no qucklinks' }}</pre>
        </a>
      </tab>
    </tabset>
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-danger" ng-click="delete()">Delete</button>
  </div>
</div>
