<!-- User menu -->
<div class="row">
  <div class="col-xs-12">
    <ul class="nav navbar-nav navbar-left">
      <li class="active"><a class="glyphicon glyphicon-home" ng-href="#">Home</a></li>
      <li><a ng-href="#">My Projects</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a ng-href="#">Logged in as: hairqles</a></li>
      <li><a ng-href="#">Logout</a></li>
    </ul>
  </div>
</div>

<!-- Horizontal Navigation -->
<div ng-include src='"views/regions/horizontal-project-nav.html"'></div>

<!-- Page header-->
<div class="row">
  <div class="col-xs-12 page-header">
    <h1>Create Project</h1>
  </div>
</div>

<!-- Create Project form -->
<div class="row">
  <div class="col-xs-12">
    <form role="form">
      <div id="project-name" class="form-group">
        <label>Name</label>
          <input type="text" class="form-control" placeholder="Project name" ng-model="projectData.Name">
      </div>
      <div id="project-description" class="form-group">
        <label>Description</label>
        <textarea cols="40" rows="5" class="form-control" ng-model="projectData.Description"></textarea>
      </div>
      <button class="btn btn-primary" ng-click="save()">Save</button>
    </form>
  </div>
</div>
