<div>
  <a href="#" editable-checkbox="field.Settings.Label" e-title="Show label">
    {{ field.Settings.Label && "Show label" || "Hide label" }}
  </a>
</div>
<div>
  <a href="#" editable-text="field.Settings.size">{{ field.Settings.size || 'Date format' }}</a>
</div>
