<div class="row">
  <div class="col-md-12">
    <h3>{{activeDisplay.Name}} Display Settings</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <ul>
      <li ng-repeat="display in displayList">
        <span ng-hide="isDisplayNameEdit($index)">
          <a ng-click="loadDisplay($index)">{{display.Name}}</a>
          <mark class="small"><a ng-click="editDisplayName($index); display.{{$index}}.$show()">edit</a></mark>
          <mark class="small"><a ng-click="deleteDisplay($index)">delete</a></mark><br>
        </span>
        <a onhide="stopEditDispalyName()" e-form="viewName{{$index}}" ng-show="isDisplayNameEdit($index)" editable-text="display.Name">{{display.Name || 'Empty'}}</a>
      </li>
      <li><a href="#" onbeforesave="addNewDisplay($data)" editable-text="newDisplay.Name">{{newDisplay.Name || 'New Display'}}</a></li>
    </ul>
  </div>
  <div class="col-md-8">
    <div ng-repeat="field in contentData.Fields">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8">
              <h4>{{field.Label}}</h4>
            </div>
            <div class="col-md-4">
              <p class="text-right">
                <a ng-show="isAttachedField(field)" ng-click="removeFieldFromDisplay(field)">quick remove</a>
                <a ng-hide="isAttachedField(field)" ng-click="attachFieldToDisplay(field)">quick add</a>
              </p>
            </div>
          </div>
          <hop-display-settings field="field"></hop-display-settings>
          <p class="text-right">{{field.Type}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
