<!-- User menu -->
<div class="row">
  <div class="col-xs-12">
    <ul class="nav navbar-nav navbar-left">
      <li class="active"><a ng-href="#"> My Projects</a></li>
      <li><a ng-href="#/project/{{projectData.Id}}/content/create">Create Content Type</a></li>
      <li><a ng-href="#/project/{{projectData.Id}}/page/create">Create Page</a></li>
      <li><a ng-click="showProjectPages = !showProjectPages">Project Pages</a></li>
    </ul>

    <span class="dropdown" on-toggle="toggled(open)">
      <a class="dropdown-toggle">
        Content types <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="content in contentTypeList">
          <a ng-href="#/content/{{content.Id}}">{{content.Name}}</a>
        </li>
      </ul>
    </span>

    <ul class="nav navbar-nav navbar-right">
      <li><a ng-href="#">Logged in as: hairqles</a></li>
      <li><a ng-href="#">Logout</a></li>
    </ul>
  </div>
</div>

<!-- Horizontal Navigation -->
<div collapse="showProjectPages">
  <div ng-include src='"views/regions/horizontal-page-nav.html"'></div>
</div>

<!-- Page header-->
<div class="row">
  <div class="col-xs-12 page-header">
    <h1><a href="#" editable-text="contentData.Name" onaftersave="save()">{{ contentData.Name || 'Content Name' }}</a></h1>
  </div>
</div>

<div class="row">
  <!-- Worksheet -->
  <div class="col-md-12">
    <tabset>
      <!-- General Content Information -->
      <tab heading="Description">
        <a href="#" editable-textarea="contentData.Description" onaftersave="save()" e-rows="7" e-cols="40">
          <pre>{{ contentData.Description || 'Content Description' }}</pre>
        </a>
        <button class="btn btn-danger" ng-click="delete()">Delete</button>
      </tab>

      <!-- Content Field settings. -->
      <tab heading="Fields">
        <div class="row">
          <!-- List of field types. -->
          <div class="col-md-3">
            <ul>
              <li ng-repeat="fieldType in fieldTypeList">
                <a ng-click="addField(fieldType)">{{fieldType}}<i class="glyphicon glyphicon-plus"></i></a>
              </li>
            </ul>
          </div>

          <!-- Field List -->
          <div class="col-md-9">
            <div ng-repeat="field in contentData.Fields">
              <div class="panel panel-default">
                <div class="panel-body">
                  <a ng-click="removeField($index)">
                    <p class="text-right">
                      <span class="glyphicon glyphicon-remove-circle"></span>
                    </p>
                  </a>
                  <h4><a href="#" editable-text="field.Label" onaftersave="save(block)">{{ field.Label || 'Field label' }}</a></h4>
                  <a href="#" onaftersave="save()" editable-textarea="field.Description" e-rows="7" e-cols="40">
                    <pre>{{ field.Description || 'Field description' }}</pre>
                  </a>
                  <p class="text-right">{{field.Type}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>

      <!-- Display settings. -->
      <tab heading="Display settings">
        <div ng-include src='"views/content-type/content-type-display.html"' ng-controller="ContentTypeDisplayCtrl"></div>
      </tab>
    </tabset>
  </div>
</div>
