<!-- User menu -->
<div class="row">
  <div class="col-xs-12">
    <ul class="nav navbar-nav navbar-left">
      <li class="active"><a ng-href="#">My Projects</a></li>
      <li><a ng-href="#/project/{{projectData.Id}}/page/create">Create Page</a></li>
      <li><a ng-show="showProjectPages" ng-click="showProjectPages = !showProjectPages">Show Project Pages</a></li>
      <li><a ng-hide="showProjectPages" ng-click="showProjectPages = !showProjectPages">Hide Project Pages</a></li>
      <li><a ng-href="#/project/{{projectData.Id}}/content/create">Create Content Type</a></li>
    </ul>

    <span class="dropdown" on-toggle="toggled(open)">
      <a class="dropdown-toggle">
        Content types <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="content in contentTypeList">
          <a ng-href="#/content/{{content.Id}}">{{content.Name}}</a>
        </li>
      </ul>
    </span>

    <ul class="nav navbar-nav navbar-right">
      <li><a ng-href="#">Logged in as: hairqles</a></li>
      <li><a ng-href="#">Logout</a></li>
    </ul>
  </div>
</div>

<!-- Horizontal Navigation -->
<div collapse="showProjectPages">
  <div ng-include src='"views/regions/horizontal-page-nav.html"'></div>
</div>

<div class="row">
  <!-- Worksheet -->
  <div class="col-md-12">
    <h1>Page Info</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div>
      <h3><a href="#" editable-text="pageData.Title">{{ pageData.Title || 'Page Title' }}</a></h3>
    </div>
    <div>
      <label>Description</label>
      <a href="#" editable-textarea="pageData.Description" e-rows="7" e-cols="40">
        <pre>{{ pageData.Description || 'no description' }}</pre>
      </a>
    </div>
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-danger" ng-click="delete()">Delete</button>
  </div>
</div>
