<!-- User menu -->
<div class="row">
  <div class="col-xs-12">
    <ul class="nav navbar-nav navbar-left">
      <li class="active"><a ng-href="#">My Projects</a></li>
      <li><a ng-href="#/project/{{projectData.Id}}/page/create">Create Page</a></li>
      <li><a ng-show="showProjectPages" ng-click="showProjectPages = !showProjectPages">Show Project Pages</a></li>
      <li><a ng-hide="showProjectPages" ng-click="showProjectPages = !showProjectPages">Hide Project Pages</a></li>
      <li><a ng-href="#/project/{{projectData.Id}}/content/create">Create Content Type</a></li>
      <li><a ng-href="#/page/{{pageData.Id}}/info">Page info</a></li>
      <li><a ng-click="addContentBlock()">Create Content Block</a></li>
    </ul>

    <span class="dropdown" on-toggle="toggled(open)">
      <a class="dropdown-toggle">
        Content types <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="content in contentTypeList">
          <a ng-href="#/content/{{content.Id}}">{{content.Name}}</a>
        </li>
      </ul>
    </span>

    <ul class="nav navbar-nav navbar-right">
      <li><a ng-href="#">Logged in as: hairqles</a></li>
      <li><a ng-href="#">Logout</a></li>
    </ul>
  </div>
</div>

<!-- Horizontal Navigation -->
<div collapse="showProjectPages">
  <div ng-include src='"views/regions/horizontal-page-nav.html"'></div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>{{pageData.Title}}</h1>
  </div>
</div>

<!-- Worksheet -->
<div class="row">
  <div gridster="gridsterConf">
    <ul>
      <li ng-mouseup="savePageBlocks(block)" gridster-item="gridsterItemMap" ng-repeat="block in pageBlocks">
        <div class="block row" ng-controller="ContentBlockCtrl" ng-init="init(block)">
          <div class="block-header col-md-12">
            <div class="block-header-btns pull-right">
              <a title="settings" ng-click="openSettings(block)"><i class="glyphicon glyphicon-cog"></i></a>
              <a title="Remove widget" ng-click="remove(block)"><i class="glyphicon glyphicon-trash"></i></a>
            </div>
          </div>
          <div class="block-content col-md-12">
            <h3><a href="#" editable-text="blockData.Title" onaftersave="save()">{{blockData.Title || 'Block Title' }}</a></h3>
            <hop-block-display block="block"></hop-block-display>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
