#horizontal-nav
  overflow-x: scroll
  overflow-y: hidden
  white-space: nowrap

  .horizontal-nav-element
    float: none
    display: inline-block
    white-space: normal
    vertical-align: top

    a
      height: 220px
