<!DOCTYPE html>

<html>
  <head>
    <title>{%.title%}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
    {%range .moreStyles%}
      <link rel="stylesheet" type="text/css" href="/public/{%.%}">
    {%end%}
    {%range .moreScripts%}
      <script src="/public/{%.%}" type="text/javascript" charset="utf-8"></script>
    {%end%}
  </head>
  <body>
