<div class="row">
  <div class="col-md-12">
    <h1>Login</h1>
  </div>
  <div class="col-md-12">
    <google-plus-signin
        clientid="{{client_id}}"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email">
    </google-plus-signin>
  </div>
</div>
